<!-- head -->
<%- include('./partials/head.ejs') %>

<body>
  <!-- main-section -->
  <%- include('./partials/nav.ejs') %>
  <section style="margin-top: 100px">
    <div class="container">
      <h1>Games</h1>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card">
            <img
              class="card-img-top"
              src="./assets/img/quiz.svg"
              alt="Card image cap"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Quiz</h5>
              <p class="card-text">
                Create and challenge your friends with your custom quizzes!
              </p>
              <a href="/quiz" class="btn btn-primary btn-lg btn-block" style="padding: 5px 50px 5px 50px">Play</a>
            </div>
          </div>
        </div>
<!-- 
        <div class="col-md-4 mx-auto">
          <div class="card">
            <img
              class="card-img-top"
              src="./assets/img/tictactoe.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Tic-Tac-Toe</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-lg btn-block">Play</a>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-md-4 mx-auto">
          <div class="card">
            <img
              class="card-img-top"
              src="./assets/img/chess.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Chess</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary btn-lg btn-block">Play</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %>
</body>
