<!-- Footer -->
<footer class="footer">
    <div class="footer-copyright text-center py-3">Ran into an issue? Don't worry you can report your issues at our
        <a href="https://github.com/hariperisetla/Multroic/issues" target="_blank" style="background: black; padding: 5px; border-radius: 30px;"> Github Repository <i class="fab fa-github"></i></a>
    </div>
<!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://multroic.herokuapp.com/"> Multroic</a>
    </div>

</footer>

<%- include('./auth.ejs') %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<script>
    

$('.create-account-link').on('click', function(event) {
event.preventDefault();

$('#register-tab').trigger('click');
})

$('.login-account-link').on('click', function(event) {
event.preventDefault();

$('#login-tab').trigger('click');
})


$('#forgotPasswordLink').on('click', function(event) {
    event.preventDefault();
    console.log('clicked')
})

</script>


</body>
</html>